# IPStack API (get key at https://ipstack.com/product)
IPSTACK_ACCESS_KEY=

# Marketstack API (get key at https://marketstack.com/)
MARKETSTACK_ACCESS_KEY=

# Weatherstack API (get key at https://weatherstack.com/)
WEATHERSTACK_ACCESS_KEY=

# Numverify API (get key at https://numverify.com/)
NUMVERIFY_ACCESS_KEY=

# Fixer API (get key at https://fixer.io/)
FIXER_ACCESS_KEY=

# Aviationstack API (get key at https://aviationstack.com/)
AVIATIONSTACK_ACCESS_KEY=

# Screenshotlayer API (get key at https://screenshotlayer.com/)
SCREENSHOTLAYER_ACCESS_KEY=

# ExchangeRate.host API (get key at https://exchangerate.host/)
EXCHANGERATEHOST_ACCESS_KEY=

# Zenserp API (get key at https://zenserp.com/)
ZENSERP_API_KEY=